.movie-catalog {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;
    margin-top: 30px;
    margin-bottom: 0px;
  
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  
    .ant-card-cover {
        height: 320px;
        flex: 1;
        width: 3px;
        position: relative;
        display: flex;
        flex-wrap: wrap; 

      img {
        height: 340px !important;
        align-content: center;
        align-self: center;
        width: 230px;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        
      }
    }
  
    .ant-card-meta-title {
      text-align: center !important;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
    }
  }