

@import url('https://fonts.googleapis.com/css?family=Rokkitt&display=swap');


.movie-list{
    width: 80%;
    margin: 0 auto !important;
    margin-top: 50px !important;
    border-color: black !important;

    .ant-list-header{
        background-color:
        black;
        h2{
            text-align: center;
            margin: 0;
            color:white;
        }

    }
    .ant-list-items{
        height: 500px;
        overflow: scroll;
    }
    &__movie{
        .ant-list-item-meta{
            align-items: center;
        }
        .ant-list-item-meta-title{
            margin:0;
        }
    }
    
}
.slider-movies__movie{
    color: black;
    font-family:Rokkitt ;
}