.search {
    z-index: 1;
    margin: 50px 0;
    
  
    h1 {
      text-align: center;
      font-size: 50px;
    }
  
    input {
      text-align: center;
      font-size: 35px;
      height: 60px;
      border-radius: 50px;
    }
    div.ant-row{
        background-image: url('https://media.metrolatam.com/2019/07/15/rickymorty-3f0f3b02a2f5e878cd6a9c2fbb4910b9-1200x800.jpg');
    }
  }
  