.movie{
    //Aqui estamos Haciendo un calculo para ajustar correctamente la imagen al fondo//
    height: calc(100vh - 64px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap:wrap;
    
    &__dark {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(71, 80, 76);
       
        opacity: 0.7;
    }
    > .ant-row {
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap:wrap;

    }
    &__poster{
        height: 70%;
        div{
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size:contain ;
        }
    }

    &__info {
        height:70%;
        color: #fff;
        display: flex;
        flex-wrap:wrap;

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap:wrap;
            h1{
                color: #fff;
                margin: 0;
                font-size: 30px;
                span{
                    font-size: 10px;
                    margin-left: 10px;
                    opacity: 0.5;
                }
                
            }
        
            button{
                height: 100%;
                background-color: transparent;
                color:red;
                border: 0;
                font-size: 14px;
                &:hover,
                &:focus,
                &:active{
                    background-color: transparent;
                    color: turquoise;
                }
    
            }

        }
     
        &-content{
            margin-top: 5px;
            font-weight: bold;
            font-size: 15px;
            display: flex;
            flex-wrap:wrap;
            
            
        }

    }
}