.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black !important; 
    margin-top: 50px;
    padding: 15px 0 !important;
    p{
        margin: 0;
        color: white;
    }
}