.div{
padding: 60px;
background-color:( #b81414);

}
.form{
    color: red;



}


.popular{
        height: calc(100vh - 64px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}