.menu-top {
    display: flex;
    flex-wrap: wrap;
    
       
 .header{
     background-color: red;
 }
    
        
    &__logo{
        display: flex;
       
        margin-right: 40px;

    }
    svg {
        width: 100%;
        
        
    }
}
